@media screen and (min-width: 320px) {
	.gridButtonBar button {
		width : 40px;
	}
	.ApplicationPageMenu .rootItem {
		width: 72px;
	}
	.ApplicationPageMenu .rootItem .ui-icon {
		display:block;
		margin-left:auto;
		margin-right:auto;
		line-height:1em;
	}
}