@media screen and (min-width: 480px) {
	#leftColumn {
		display : block;
	}

	#rightColumn {
		margin-left   : 0px;
		margin-right  : 0px;
		margin-bottom : 20px;
	}

	#bodyWrapper {
		width    : auto;
		position : relative;
	}

	#logoBar {
		text-align    : center;
		height        : 80px;
	}

	#languageBar {
		text-align    : center;
		height        : 60px;
		border-top    : 1px solid #242424;
		border-bottom : 1px solid #555555;
	}

	#mainNavMenu {
		width      : auto;
		list-style : none;
		margin     : 0;
		padding    : 0;
	}

	#mainNavMenu li {
		text-align : left;
		display    : none;
	}

	#mainNavMenu li.ui-state-default {
		cursor        : default;
		border        : none;
		border-top    : 1px solid #858585;
		border-bottom : 1px solid #4a4a4a;
	}

	#mainNavMenu li.ui-state-hover {
		cursor : pointer;
	}

	#mainNavMenu li.ui-state-active {
		border-top    : 1px solid #6ea9de;
		border-bottom : 1px solid #4a4a4a;
	}

	#mainNavMenu li a {
	}

	#mainNavMenu li .ui-icon {
		display      : block;
		margin-right : auto;
		margin-left  : auto;
	}

	#mainNavMenu ul.mainNavMenuChild {
		list-style     : none;
		margin         : 0;
		padding        : 0;
		padding-left   : 1em;
		padding-bottom : 1em;
	}

	#mainNavMenu ul.mainNavMenuChild li {
		border : none;
	}

	.landingMenuBlock {
		display        : inline-block;
		margin         : 1em;
		vertical-align : top;
	}

	.landingMenuBlock .landingMenuBlockHeading {
		border-bottom : 1px solid #d5d5d5;
		font-size     : 1.2em;
		padding       : .5em;
	}

	.landingMenuBlock .landingMenuBlockDirectLink {
		padding : .5em;
	}

	.landingMenuBlock .landingMenuBlockMenu {
		padding : .5em;
	}

	.landingMenuBlock .landingMenuBlockMenu a {
	}

	.landingMenuBlock .landingMenuBlockMenu ul {
		list-style : none;
		margin     : 0;
		padding    : 0;
	}

	.gridButtonBar button {
		width : 50px;
	}
	.ApplicationPageMenu .rootItem {
		width: 110px;
	}
}